fastapi
uvicorn[standard]
pydantic-settings
python-dotenv
python-multipart
sqlmodel
alembic
psycopg
psycopg[binary]
svix
clerk_backend_api
boto3
httpx
numpy
pillow
opencv-python
shapely
google-genai

